body {
  background-color: #A0A0A0;
  font-family: 'Cabin Condensed', sans-serif;
  padding-left: 15px;
}

#toast {
  display: none;
  font-style: bold;
  color: DarkGreen;
}

.corner {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 20px;
  text-decoration: none;
  border: 5px solid #808080;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 20px;
}
.corner:hover {
  text-decoration: underline;
}

th {
  text-align: left;
}

dt {
  margin-top: 7px;
}

label {
  padding-left: 10px;
}

#hosters {
  padding-left: 10px;
}

#hosters a {
  display: block;
  text-decoration: none;
  color: #303030;
  font-size: 1.2em;
}

#hosters a:hover {
  text-decoration: underline;
}
