html.fm_enabled, .fm_enabled body {
  position: static;
  overflow: hidden;
}

.fm_enabled #fm_overlay {
  display: block;
}

.fm_disabled {
  display: none;
}

#fm_overlay {
  display: none; /* apply fm_enabled to html */
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.93);
  font-size: 12pt;
  font-family: arial, sans-serif;

  // Cursor
  img {
    cursor: pointer;
  }
  &.hideCursor,
  &.hideCursor img {
    cursor: none;
  }

  #fm_progress {
    position: fixed;
    z-index: 9002;
    top: 0;
    width: 0%;
    height: 2px;
    background: gray;
    border-radius: 1px;
    transition: width 500ms ease-out, opacity 400ms linear;
  }

  // image sizing
  #fm_main {
    display: block;
    margin: auto;
    height: 100%;
  }
  &.landscape #fm_main {
    position: fixed;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translateY(-50%);
  }
  &.manhwa {
    overflow-y: scroll;
    #fm_main {
      height: auto;
      max-width: 100%;
    }
  }

  #fm_close, #fm_info, #fm_tools, #fm_tools .dropup {
    background-color: gray;
    color: black;
    font-weight: bold;
  }
  #fm_close {
    position: fixed;
    right: 0;
    padding: 5px;
    margin: 5px;
    width: 25px;
    height: 25px;
    color: white;
  }

  #fm_info {
    position: fixed;
    left: 0;
    top: 0;
    padding: 5px;
    background-color: rgba(255,255,255,0.25);
    color: rgba(0,0,0,0.25);

    span {
      display: none;
    }

    &:hover {
      background-color: gray;
      color: black;
    }
  }
  #fm_numbers {
    color: black;
  }

  #fm_name {
    padding-left: 3px;
  }

  $tools_height: 45px;
  #fm_tools {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    right: 0;
    height: $tools_height;

    > * {
      float: left;
      padding: 8px 3px;

      img {
        $img_height: $tools_height - 16;
        width: $img_height;
        height: $img_height;
      }
    }
    > *:first-child {
      margin-left: 3px;
    }
    > *:last-child {
      margin-right: 3px;
    }

    > div:hover .dropup {
      display: block;
    }
    .dropup {
      display: none;
      position: fixed;
      bottom: $tools_height;
      right: 0;
    }
    #fm_download_container .dropup {
      font-size: 12pt;
      padding: 8px;
      cursor: pointer;
    }
    #fm_options .dropup {
      dl { margin: 0; }
      dt {
        float: left;
        padding: 8px;
      }
      dd {
        float: right;
        margin-left: 5px;
        input {
          box-sizing: border-box;
          width: 45px;
          padding: 8px 8px 8px 0;
          border: none;
          background-color: gray;
          color: black;
          text-align: right;
          font-size: 12pt;
          font-weight: bold;
          cursor: ns-resize;
        }
      }
    }
  }
}

