#timer-delay {
  width: 250px;
}

kbd {
  background-color: gray;
}

img, svg {
  width: 2rem;
  height: 2rem;
}

#hoster-list .hoster img {
    image-rendering: pixelated;
}

#version-history {
  margin-bottom: 5rem;
}

footer {
  background-color: #222;
}

#open-all-hoster {
  position: fixed;
  bottom: 0;
  right: 0;
}